# Ignore ablation and pthread folders
ablation_busy_waiting/
ablation_false_sharing/
ablation_no_buffer/
pthread_hda/

# Ignore everything in map except specific files
map/*
!map/gen_maze_map.py
!map/clean.sh

# Ignore virtual environments and caches
.venv/
**/.venv/
venv/
**/venv/
__pycache__/
**/__pycache__/
*.pyc

# IDE/editor stuff
.vscode/
.idea/

# macOS junk
.DS_Store
